@use "./ThemePickerVars" as ThemePicker;
@import '../../index.scss';
@import '../../colors.scss';

.ThemePicker {
  font-size: 1.2rem;
  padding: 0.2rem;
  padding-left: 0;

  @include fixToTopRight;
  color: var(--color_main);
  label {
    padding: 0.2rem;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  span {
    display: inline-block;
    height: 32px;
    background-color: grey;
    width: 60px;
    border-radius: 15px;
    position: relative;
    transition: 0.4s;
  }
  span::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }

  input:checked + span {
    background-color: var(--pri_active_box_bg);
  }

  input:focus + span {
    box-shadow: 0 0 1px var(--pri_active_box_bg);
  }

  input:checked + span::before {
    transform: translateX(28px);
  }
}
