@use "./LanguagePickerVars" as LanguagePicker;

@import '../../index.scss';

.LanguagePicker {
  margin-top: 2rem;
  color: var(--color_main);
  @include fixToTopRight;
  button {
    padding: 0.3rem;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--pri_cta_bg);
  }
}
