@use "./SearchPostVars" as SearchPost;
@import '../../colors.scss';

.SearchPost {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 1rem;
  align-items: center;
  * {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4rem;
  }
  input {
    text-align: left;
    text-indent: 0.2rem;
  }
}
