@use "./SliderPanelVars" as SliderPanel;
@import '../../colors.scss';

.SliderPanel {
  width: 0;
  height: 100vh;
  position: relative;
  .SliderContent {
    display: flex;
    background-color: var(--side_bg);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: -100vw;
    width: 80vw;
    height: 100vh;
    transition: 0.5s;
  }
  .SliderContent.Active {
    left: 0;
  }

  .sideB {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 43px);
    padding: 0.8rem 0.4rem;
    font-size: 1.2rem;
    border-radius: 6px;
  }
}
