html[theme='light'] {
  --bg_main: hsl(135, 9%, 91%);
  --color_main: black;
  --pri_cta_bg: hsl(360, 85%, 23%);
  --pri_active_box_bg: hsl(120, 85%, 20%);
  --side_bg: hsl(0, 0%, 79%);
}

html[theme='dark'] {
  --bg_main: hsl(201, 31%, 15%);
  --color_main: white;
  --pri_cta_bg: hsl(360, 85%, 63%);
  --pri_active_box_bg: hsl(120, 85%, 60%);
  --side_bg: hsl(120, 1%, 28%);
}

html {
  background-color: var(--bg_main);
  color: var(--color-main);
}
